<!DOCTYPE html>
<html>
<head>
    <title>Edit Todo - Todo App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Todo</h1>
        <form action="/update/<%= todo._id %>" method="POST">
            <div class="form-group">
                <label for="task">Task:</label>
                <input type="text" id="task" name="task" value="<%= todo.name %>" required>
            </div>
            <div class="form-actions">
                <button type="submit">Update Task</button>
                <a href="/" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html> 